h1 {
    text-align: center;
    color: white;
    font-style: bold;
}
p {
   color: fuchsia;
   font-family: sans-serif;
   text-align: center;
}
body {
      background-color: beige;
      background-image: url(beach.jpeg);
}
em {
    font-style: bold;
}
h2 {
    text-align: center;
    font-style: italic;
}
